<h3>予定一覧</h3>

<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

<% if flash[:alert] %>
  <p class="alert"><%= flash[:alert] %></p>
<% end %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>終日</th>
      <th>更新日時</th>
      <th>詳細</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.id %></td>
        <td><%= schedule.title %></td>
        <td><%= schedule.startdate.strftime('%Y/%m/%d') %></td>
        <td><%= schedule.enddate.strftime('%Y/%m/%d') %></td>
        <td>
          <% if schedule.allday %>
            ◯
          <% else %>
            
          <% end %>
        </td>
        <td><%= schedule.updated_at.strftime('%Y/%m/%d %H:%M') %></td>
        <td>
          <%= link_to "詳細", schedule %>
        </td>
        <td>
          <%= link_to "編集", [:edit, schedule] %>
        </td>
        <td>
          <%= link_to "削除",  schedule, method: :delete, data: { confirm: "本当に削除しますか？" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "新規追加", :new_schedule %></p>

<p>今日の日付 <%= Date.today.strftime('%Y/%m/%d') %></p>
<p>予定の合計数: <%= @schedules.count %>件</p>

